.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
}

#home h1 {
    font-size: 50px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

#home h2 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 1rem;
}

#home p{
    font-size: 18px;
    margin: 0;
}

.container-aprender{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem 0 4rem;
}

.container-aprender-ver{
    border: 1px solid #19A7CE;
    color: #19A7CE;
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 5px;
}

.container-aprender-ver:hover{
    background-color: #19A7CE;
    color: white;
    transition: 0.5s;
}

.container-main-banner {
    background-image: url('https://res.cloudinary.com/tuko/image/upload/v1691504186/banner-home_heyno1.svg');
    background-repeat: no-repeat;
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden !important;
}

.mostrar-container{
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.mostrar-container p {
    font-size: 15px !important;
    word-spacing: initial !important;
}

.paper-plane{
    margin: 0 10px 0 0;
}

.container-profes{
    display: none;
}

.card-link{
    text-decoration: none;
}


@media only screen and (min-width: 577px) and (max-width: 768px) {
    /* #home {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='467' height='337' viewBox='0 0 467 637' fill='none'%3E%3Cpath d='M284.997 -304.122C294.932 -315.347 307.568 -330.608 324.162 -328.601C339.529 -330.858 348.277 -348.189 363.408 -348.837C376.896 -349.414 393.3 -360.613 406.296 -364.459C444.408 -375.738 480.713 -374.763 519.389 -366.405C564.186 -356.724 604.753 -337.918 645.177 -317.082C682.953 -297.611 728.914 -276.645 758.58 -245.514C804.276 -197.563 830.193 -143.908 844.398 -79.0164C865.616 17.9106 843.208 117.531 826.199 213.269C817.28 263.47 806.8 313.355 793.18 362.508C781.514 404.609 770.413 448.413 744.967 484.722C685.517 569.55 601.154 616.438 498.995 631.171C441.735 639.429 385.294 638.147 328.21 629.008C278.05 620.979 233.938 601.351 191.471 573.526C144.937 543.036 102.056 508.758 69.6872 463.017C41.4289 423.085 14.4693 381 5.36835 332.131C-13.079 233.074 22.9361 137.235 85.8709 61.3908C113.983 27.5123 146.177 -1.67156 177.054 -32.8378C199.733 -55.7291 226.122 -80.8678 240.854 -109.894C262.244 -152.038 239.229 -203.928 249.252 -248.695C254.436 -271.851 269.882 -287.044 284.997 -304.122Z' fill='%23253664' fill-opacity='0.4'/%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='581' height='726' viewBox='0 0 881 1026' fill='none'%3E%3Cpath d='M879.941 962.309C881.324 982.955 884.048 1010.17 865.978 1024.51C853.286 1041.79 861.815 1067.19 847.77 1082.68C835.252 1096.48 830.333 1123.45 821.5 1139.94C795.597 1188.3 759.418 1223 713.688 1252.87C660.723 1287.46 602.901 1309.04 543.225 1328.52C487.459 1346.71 422.283 1371.5 362.936 1370.42C271.524 1368.77 193.699 1342.16 116.206 1293.15C0.454978 1219.94 -75.6135 1101.29 -153.11 991.709C-193.746 934.248 -232.556 875.561 -267.602 814.501C-297.62 762.202 -329.858 708.804 -340.819 648.594C-366.427 507.926 -330.615 379.607 -245.967 265.011C-198.522 200.78 -142.506 146.609 -78.1511 99.4281C-21.6034 57.9708 40.4644 33.7027 108.985 19.0032C184.067 2.89607 259.324 -5.94958 335.637 6.64701C402.259 17.6439 469.735 32.005 526.546 70.4816C641.699 148.472 700.854 276.814 714.262 412.188C720.251 472.657 717.67 532.58 718.313 593.133C718.786 637.608 717.866 687.906 732.071 730.531C752.696 792.42 825.972 820.167 860.202 873.439C877.908 900.995 877.838 930.901 879.941 962.309Z' fill='%23253664' fill-opacity='0.4'/%3E%3C/svg%3E");
    } */

    .container-aprender{
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* #home {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='467' height='337' viewBox='0 0 467 637' fill='none'%3E%3Cpath d='M284.997 -304.122C294.932 -315.347 307.568 -330.608 324.162 -328.601C339.529 -330.858 348.277 -348.189 363.408 -348.837C376.896 -349.414 393.3 -360.613 406.296 -364.459C444.408 -375.738 480.713 -374.763 519.389 -366.405C564.186 -356.724 604.753 -337.918 645.177 -317.082C682.953 -297.611 728.914 -276.645 758.58 -245.514C804.276 -197.563 830.193 -143.908 844.398 -79.0164C865.616 17.9106 843.208 117.531 826.199 213.269C817.28 263.47 806.8 313.355 793.18 362.508C781.514 404.609 770.413 448.413 744.967 484.722C685.517 569.55 601.154 616.438 498.995 631.171C441.735 639.429 385.294 638.147 328.21 629.008C278.05 620.979 233.938 601.351 191.471 573.526C144.937 543.036 102.056 508.758 69.6872 463.017C41.4289 423.085 14.4693 381 5.36835 332.131C-13.079 233.074 22.9361 137.235 85.8709 61.3908C113.983 27.5123 146.177 -1.67156 177.054 -32.8378C199.733 -55.7291 226.122 -80.8678 240.854 -109.894C262.244 -152.038 239.229 -203.928 249.252 -248.695C254.436 -271.851 269.882 -287.044 284.997 -304.122Z' fill='%23253664' fill-opacity='0.4'/%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='581' height='726' viewBox='0 0 881 1026' fill='none'%3E%3Cpath d='M879.941 962.309C881.324 982.955 884.048 1010.17 865.978 1024.51C853.286 1041.79 861.815 1067.19 847.77 1082.68C835.252 1096.48 830.333 1123.45 821.5 1139.94C795.597 1188.3 759.418 1223 713.688 1252.87C660.723 1287.46 602.901 1309.04 543.225 1328.52C487.459 1346.71 422.283 1371.5 362.936 1370.42C271.524 1368.77 193.699 1342.16 116.206 1293.15C0.454978 1219.94 -75.6135 1101.29 -153.11 991.709C-193.746 934.248 -232.556 875.561 -267.602 814.501C-297.62 762.202 -329.858 708.804 -340.819 648.594C-366.427 507.926 -330.615 379.607 -245.967 265.011C-198.522 200.78 -142.506 146.609 -78.1511 99.4281C-21.6034 57.9708 40.4644 33.7027 108.985 19.0032C184.067 2.89607 259.324 -5.94958 335.637 6.64701C402.259 17.6439 469.735 32.005 526.546 70.4816C641.699 148.472 700.854 276.814 714.262 412.188C720.251 472.657 717.67 532.58 718.313 593.133C718.786 637.608 717.866 687.906 732.071 730.531C752.696 792.42 825.972 820.167 860.202 873.439C877.908 900.995 877.838 930.901 879.941 962.309Z' fill='%23253664' fill-opacity='0.4'/%3E%3C/svg%3E");
    } */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
    }

    .container-aprender{
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-between;
    }

    .mostrar-container p {
        font-size: 18px !important;
        word-spacing: initial !important;
    }
    
}

@media only screen and (min-width: 993px) and (max-width: 1400px) {
    /* #home {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='567' height='437' viewBox='0 0 567 637' fill='none'%3E%3Cpath d='M284.997 -304.122C294.932 -315.347 307.568 -330.608 324.162 -328.601C339.529 -330.858 348.277 -348.189 363.408 -348.837C376.896 -349.414 393.3 -360.613 406.296 -364.459C444.408 -375.738 480.713 -374.763 519.389 -366.405C564.186 -356.724 604.753 -337.918 645.177 -317.082C682.953 -297.611 728.914 -276.645 758.58 -245.514C804.276 -197.563 830.193 -143.908 844.398 -79.0164C865.616 17.9106 843.208 117.531 826.199 213.269C817.28 263.47 806.8 313.355 793.18 362.508C781.514 404.609 770.413 448.413 744.967 484.722C685.517 569.55 601.154 616.438 498.995 631.171C441.735 639.429 385.294 638.147 328.21 629.008C278.05 620.979 233.938 601.351 191.471 573.526C144.937 543.036 102.056 508.758 69.6872 463.017C41.4289 423.085 14.4693 381 5.36835 332.131C-13.079 233.074 22.9361 137.235 85.8709 61.3908C113.983 27.5123 146.177 -1.67156 177.054 -32.8378C199.733 -55.7291 226.122 -80.8678 240.854 -109.894C262.244 -152.038 239.229 -203.928 249.252 -248.695C254.436 -271.851 269.882 -287.044 284.997 -304.122Z' fill='%23253664' fill-opacity='0.4'/%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='881' height='1026' viewBox='0 0 881 1026' fill='none'%3E%3Cpath d='M879.941 962.309C881.324 982.955 884.048 1010.17 865.978 1024.51C853.286 1041.79 861.815 1067.19 847.77 1082.68C835.252 1096.48 830.333 1123.45 821.5 1139.94C795.597 1188.3 759.418 1223 713.688 1252.87C660.723 1287.46 602.901 1309.04 543.225 1328.52C487.459 1346.71 422.283 1371.5 362.936 1370.42C271.524 1368.77 193.699 1342.16 116.206 1293.15C0.454978 1219.94 -75.6135 1101.29 -153.11 991.709C-193.746 934.248 -232.556 875.561 -267.602 814.501C-297.62 762.202 -329.858 708.804 -340.819 648.594C-366.427 507.926 -330.615 379.607 -245.967 265.011C-198.522 200.78 -142.506 146.609 -78.1511 99.4281C-21.6034 57.9708 40.4644 33.7027 108.985 19.0032C184.067 2.89607 259.324 -5.94958 335.637 6.64701C402.259 17.6439 469.735 32.005 526.546 70.4816C641.699 148.472 700.854 276.814 714.262 412.188C720.251 472.657 717.67 532.58 718.313 593.133C718.786 637.608 717.866 687.906 732.071 730.531C752.696 792.42 825.972 820.167 860.202 873.439C877.908 900.995 877.838 930.901 879.941 962.309Z' fill='%23253664' fill-opacity='0.4'/%3E%3C/svg%3E");
    } */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 2rem;
    }

    #home h1 {
        font-size: 68px;
        line-height: 82px;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    #home h2 {
        font-size: 40px;
        line-height: 74px;
        font-weight: 600;
    }
    
    #home p{
        font-size: 20px;
        word-spacing: 5px;
    }

    .container-main-banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .banner-description {
        padding-right: 1rem;
    }

    .container-aprender{
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-between;
    }

    .mostrar-container p {
        font-size: 18px !important;
        word-spacing: initial !important;
    }

    .container-profes{
        background-color: #27374D;
        height: 306px;
        display: flex;
        align-items: center;
        gap: 100px;
        color: var(--bs-white);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        overflow: hidden !important;
        margin: 6rem 0;
    }
    
    .container-profes h3{
        font-size: 30px;
        padding-right: 1rem;
        max-width: 400px;
        margin-bottom: 2rem;
    }
    
    .btn-profesores, .btn-profesores:hover{
        background-color: var(--bs-white);
        color: #27374D;
    }
}

@media only screen and (min-width: 1401px) {
    /* #home {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='767' height='637' viewBox='0 0 767 637' fill='none'%3E%3Cpath d='M284.997 -304.122C294.932 -315.347 307.568 -330.608 324.162 -328.601C339.529 -330.858 348.277 -348.189 363.408 -348.837C376.896 -349.414 393.3 -360.613 406.296 -364.459C444.408 -375.738 480.713 -374.763 519.389 -366.405C564.186 -356.724 604.753 -337.918 645.177 -317.082C682.953 -297.611 728.914 -276.645 758.58 -245.514C804.276 -197.563 830.193 -143.908 844.398 -79.0164C865.616 17.9106 843.208 117.531 826.199 213.269C817.28 263.47 806.8 313.355 793.18 362.508C781.514 404.609 770.413 448.413 744.967 484.722C685.517 569.55 601.154 616.438 498.995 631.171C441.735 639.429 385.294 638.147 328.21 629.008C278.05 620.979 233.938 601.351 191.471 573.526C144.937 543.036 102.056 508.758 69.6872 463.017C41.4289 423.085 14.4693 381 5.36835 332.131C-13.079 233.074 22.9361 137.235 85.8709 61.3908C113.983 27.5123 146.177 -1.67156 177.054 -32.8378C199.733 -55.7291 226.122 -80.8678 240.854 -109.894C262.244 -152.038 239.229 -203.928 249.252 -248.695C254.436 -271.851 269.882 -287.044 284.997 -304.122Z' fill='%23253664' fill-opacity='0.4'/%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='881' height='1026' viewBox='0 0 881 1026' fill='none'%3E%3Cpath d='M879.941 962.309C881.324 982.955 884.048 1010.17 865.978 1024.51C853.286 1041.79 861.815 1067.19 847.77 1082.68C835.252 1096.48 830.333 1123.45 821.5 1139.94C795.597 1188.3 759.418 1223 713.688 1252.87C660.723 1287.46 602.901 1309.04 543.225 1328.52C487.459 1346.71 422.283 1371.5 362.936 1370.42C271.524 1368.77 193.699 1342.16 116.206 1293.15C0.454978 1219.94 -75.6135 1101.29 -153.11 991.709C-193.746 934.248 -232.556 875.561 -267.602 814.501C-297.62 762.202 -329.858 708.804 -340.819 648.594C-366.427 507.926 -330.615 379.607 -245.967 265.011C-198.522 200.78 -142.506 146.609 -78.1511 99.4281C-21.6034 57.9708 40.4644 33.7027 108.985 19.0032C184.067 2.89607 259.324 -5.94958 335.637 6.64701C402.259 17.6439 469.735 32.005 526.546 70.4816C641.699 148.472 700.854 276.814 714.262 412.188C720.251 472.657 717.67 532.58 718.313 593.133C718.786 637.608 717.866 687.906 732.071 730.531C752.696 792.42 825.972 820.167 860.202 873.439C877.908 900.995 877.838 930.901 879.941 962.309Z' fill='%23253664' fill-opacity='0.4'/%3E%3C/svg%3E");
    } */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 2rem;
    }

    .banner-description {
        padding-right: 1rem;
    }

    #home h1 {
        font-size: 68px;
        line-height: 82px;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    #home h2 {
        font-size: 45px;
        line-height: 74px;
        font-weight: 600;
    }

    #home p{
        font-size: 25px;
        word-spacing: 5px;
    }

    .container-main-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-aprender{
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-between;
    }

    .mostrar-container p {
        font-size: 18px !important;
        word-spacing: initial !important;
    }

    .container-profes{
        background-color: #27374D;
        height: 306px;
        display: flex;
        align-items: center;
        gap: 100px;
        color: var(--bs-white);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        overflow: hidden !important;
        margin: 6rem 0;
    }
    
    .container-profes h3{
        font-size: 45px;
        max-width: 400px;
        margin-bottom: 2rem;
    }
    
    .btn-profesores, .btn-profesores:hover{
        background-color: var(--bs-white);
        color: #27374D;
    }
}