.userAdd__container {
    background-color: var(--bs-white);
    width: 700px;
    height: 700px !important;
    border-radius: 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem 5rem;

    @include media-breakpoint-down(xxl){
      height: initial !important;
    }

    .error{
      color: red;
      margin: 0;
    }

    .btn-register{
      button{
        width: 100%;
      }
      p{
        margin-top: 1rem;
      }
    }

    

  }