.card__container {
    background-image: url('https://res.cloudinary.com/tuko/image/upload/v1691591701/14_nrivov.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    max-width: 500px;
    height: 250px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-bottom: 10px;
}

.card__container span {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
}

.card__container p {
    font-size: 18px !important;
    margin: 0;
    padding-left: 15px;
    text-decoration: none;
}

