.navbar-white{
    background-color: var(--bs-white);
    transition: 0.8s;
}


.navbar__links__flex{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    gap: 20px;
}

.navbar__link-secondary{
    text-align: center;
    padding: 10px 15px;
    color: var(--azul-oscuro);
    text-decoration: none;
    font-weight: 700;  
}

.navbar__link-primary{
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--azul-oscuro);
    color: var(--bs-white);
    text-decoration: none;
    font-weight: 700;
}

.navbar__logo{
    width: 190px;
}