.detail-container {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xl) {
        display: block;
    }
}

.sticky {
    position: sticky;
    top: 150px;
    width: 450px;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;

    .descripcion {
        max-width: 400px;
        margin-top: 0.5rem;
        background-color: var(--bs-white);

        p {
            color: var(--azul-oscuro);
        }
    }

    @include media-breakpoint-down(lg){
        flex-direction: column !important;
    }

    @include media-breakpoint-down(xl) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3rem;
        position: initial;
        width: 100%;
        margin-left: 0;
        align-items: center;

        .descripcion{
            margin: 1rem 0;
        }
    }

}



.detail-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    width: 700px;
    // margin-left: 600px;



    span {
        color: var(--bs-primary);
    }

    p {
        color: var(--azul-oscuro);
    }

    .reserva-img {
        width: 20px;
        margin-right: 1rem;
    }

    div {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        hr {
            color: var(--azul-oscuro);
            width: 450px;
            opacity: 1;
        }
    }

    h1 {
        font-weight: 700;
    }

    .galery-section {
        margin: 2rem 0 0;
        display: block;
        color: var(--azul-oscuro);

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 30px;
        }

        img {
            width: 400px;
        }

        .itinerario {
            border-radius: 25px;
        }

        .more-information {
            margin-top: 2rem;
            text-align: left;
            width: 100%;

            h1 {
                text-align: left;
            }

            p {
                text-align: justify;
                max-width: 550px;
            }

            // div{
            //     width: 100%;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center ;
            // }
        }
    }


    @include media-breakpoint-down(xl) {
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
        text-align: center;

        h4, h1 {
            width: 100%;
            text-align: center;
            margin: 0;
        }

        hr {
            display: none;
        }

        div {
            width: 100%;
            justify-content: center;
        }

        .galery-section {
            width: 100%;

            div {
                align-items: center;
            }

            div img {
                width: 100%;
                margin: 0;
            }
        }

        .more-information {

            h1 {
                width: 100%;
                margin: 0;
            }

            div {
                justify-content: center;
            }

            div img {
                width: 100%;
                margin: 0;
            }
        }
    }

}