.card__detail__container{
    max-width: 400px;

    img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.card__detail__text{
    background-color: var(--azul-oscuro);
    color: var(--bs-white);
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    p{
        margin: 0;
    }

    h2{
        font-size: 40px;
        font-weight: 700;
        margin: 0;
    }

    h3{
        font-size: 30px;
    }
}